In [60]:
import duckdb
import pandas as pd
import numpy as np
path = "/home/manat/projects/CScorer/work/dev/data/data.duckdb"

In [61]:
con = duckdb.connect(path)
df = con.execute("""SELECT* FROM preprocessed.gbif_citizen""" ).df()
df = df.drop(columns= 'geom')
con.close()

In [62]:
df.head()

,gbifID,occurrenceID,publishingOrgKey,kingdom,phylum,class,order,family,genus,species,...,recordedBy,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,issue,url,description,num_identification_agreements,num_identification_disagreements,image_url
0,4512409417,https://www.inaturalist.org/observations/19685...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,Plantae,Tracheophyta,Polypodiopsida,Equisetales,Equisetaceae,Equisetum,Equisetum scirpoides,...,flanglois,8.0,45.587989,-72.006672,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,https://www.inaturalist.org/observations/19685...,0,2,0,https://inaturalist-open-data.s3.amazonaws.com...
1,5076781104,https://www.inaturalist.org/observations/19698...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,Plantae,Tracheophyta,Magnoliopsida,Apiales,Apiaceae,Angelica,Angelica atropurpurea,...,bouskatong_cogesaf,5005.0,45.149553,-72.053825,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,https://www.inaturalist.org/observations/19698...,0,1,0,https://inaturalist-open-data.s3.amazonaws.com...
2,4516777526,https://www.inaturalist.org/observations/19699...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,Plantae,Tracheophyta,Magnoliopsida,Myrtales,Onagraceae,Epilobium,Epilobium hirsutum,...,Jacques Ranger,NaN,45.388002,-73.347730,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,https://www.inaturalist.org/observations/19699...,0,1,0,https://inaturalist-open-data.s3.amazonaws.com...
3,4516546740,https://www.inaturalist.org/observations/19699...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,Plantae,Tracheophyta,Magnoliopsida,Brassicales,Brassicaceae,Erysimum,Erysimum hieraciifolium,...,Jacques Ranger,NaN,45.387940,-73.347913,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,https://www.inaturalist.org/observations/19699...,0,2,0,https://inaturalist-open-data.s3.amazonaws.com...
4,4516750739,https://www.inaturalist.org/observations/19699...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,Plantae,Tracheophyta,Magnoliopsida,Vitales,Vitaceae,Parthenocissus,Parthenocissus inserta,...,Jacques Ranger,NaN,45.385732,-73.348792,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,https://www.inaturalist.org/observations/19699...,1,1,0,https://inaturalist-open-data.s3.amazonaws.com...

In [63]:
df.shape

(80540, 27)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80540 entries, 0 to 80539
Data columns (total 27 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gbifID                            80540 non-null  int64
 1   occurrenceID                      80540 non-null  object
 2   publishingOrgKey                  80540 non-null  object
 3   kingdom                           80540 non-null  object
 4   phylum                            80540 non-null  object
 5   class                             80540 non-null  object
 6   order                             80540 non-null  object
 7   family                            80540 non-null  object
 8   genus                             80540 non-null  object
 9   species                           80540 non-null  object
 10  taxonRank                         80540 non-null  object
 11  taxonKey                          80540 non-null  int64
 12  scientificName                    80540 non-null  object
 13  eventDate                         80540 non-null  object
 14  day                               80540 non-null  int64
 15  month                             80540 non-null  int64
 16  year                              80540 non-null  int64
 17  recordedBy                        80540 non-null  object
 18  coordinateUncertaintyInMeters     64740 non-null  float64
 19  decimalLatitude                   80540 non-null  float64
 20  decimalLongitude                  80540 non-null  float64
 21  issue                             80540 non-null  object
 22  url                               80540 non-null  object
 23  description                       80540 non-null  int32
 24  num_identification_agreements     80540 non-null  int64
 25  num_identification_disagreements  80540 non-null  int64
 26  image_url                         80540 non-null  object
dtypes: float64(3), int32(1), int64(7), object(16)
memory usage: 16.3+ MB

In [65]:
df.describe()

,gbifID,taxonKey,day,month,year,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,description,num_identification_agreements,num_identification_disagreements
count,8.054000e+04,8.054000e+04,80540.000000,80540.000000,80540.000000,6.474000e+04,80540.000000,80540.000000,80540.000000,80540.000000,80540.000000
mean,4.337566e+09,4.057630e+06,15.616464,6.823814,2022.434939,3.115559e+03,45.492773,-72.578850,0.138031,1.320921,0.006531
std,1.003010e+09,1.802645e+06,8.949593,1.948281,2.611951,7.442778e+04,0.348132,0.771317,0.344934,0.615911,0.082530
min,8.910220e+08,2.650625e+06,1.000000,1.000000,2011.000000,1.000000e+00,45.014886,-74.509312,0.000000,0.000000,0.000000
25%,3.773681e+09,2.888353e+06,8.000000,5.000000,2021.000000,5.000000e+00,45.312002,-73.265984,0.000000,1.000000,0.000000
50%,4.528280e+09,3.118274e+06,15.000000,7.000000,2023.000000,1.200000e+01,45.419316,-72.661587,0.000000,1.000000,0.000000
75%,5.133255e+09,5.334186e+06,23.000000,8.000000,2024.000000,9.000000e+01,45.562263,-71.956265,0.000000,2.000000,0.000000
max,5.868425e+09,1.220746e+07,31.000000,12.000000,2025.000000,8.099594e+06,46.817932,-70.230866,1.000000,8.000000,3.000000

In [66]:
df.describe(include=[object], exclude= [float, int])

,occurrenceID,publishingOrgKey,kingdom,phylum,class,order,family,genus,species,taxonRank,scientificName,eventDate,recordedBy,issue,url,image_url
count,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540,80540
unique,80537,2,1,1,6,49,144,625,1557,1,1570,74674,3658,10,80537,80472
top,https://www.inaturalist.org/observations/29878928,28eb1a3f-1c15-4a95-931a-4af90ecb574d,Plantae,Tracheophyta,Magnoliopsida,Asterales,Asteraceae,Acer,Onoclea sensibilis,SPECIES,Onoclea sensibilis L.,2014-08-10,Vincent Laurie,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,https://www.inaturalist.org/observations/29878928,https://inaturalist-open-data.s3.amazonaws.com...
freq,2,80537,80540,80540,57281,9224,8850,3251,1267,80540,1267,16,5792,76328,2,4

In [67]:
df.isnull().sum()

gbifID                                  0
occurrenceID                            0
publishingOrgKey                        0
kingdom                                 0
phylum                                  0
class                                   0
order                                   0
family                                  0
genus                                   0
species                                 0
taxonRank                               0
taxonKey                                0
scientificName                          0
eventDate                               0
day                                     0
month                                   0
year                                    0
recordedBy                              0
coordinateUncertaintyInMeters       15800
decimalLatitude                         0
decimalLongitude                        0
issue                                   0
url                                     0
description                             0
num_identification_agreements           0
num_identification_disagreements        0
image_url                               0
dtype: int64

In [69]:
df.duplicated().sum()
#df.drop_duplicates(inplace= True)

0